@charset "UTF-8";

/* 見出しのデザインの変更 */
h1 {
    border-bottom: solid 3px #DDD;
    padding-bottom: 3px;
}
h2 {
    color: #DDD;
    background: #222;
    padding: 0.2em;
}
/* 前回
h2 {
    border:2px solid #690;
    padding: 10px;
    box-shadow: 5px 5px #360;
} 
*/

/* リンクのデザインの変更 */
.contents a {
    color: #03c;
    background: #efd;
}
.contents a:visited{
    color: #438;
    background: #eee;
}
.contents a:hover {
    background: #fcc;
}

/* リストのデザインの変更 */
li {
    text-align: left;
}

/* 現在使用していない
.contents ul li {
    font-size:150%;
    color: #690;
    list-style: square outside;
    list-style-image: none;
}
.contents ol li{
    font-size:150%;
    color: #690;
    list-style: decimal inside;
}
.contents li span {
    font-size:70%;
    color: #000;
}
*/

/* テーブルのデザインの変更 */
table {
    width: 100%;
}
table tr th, table tr td {
    text-align: center;
    padding: 0 10px;
    border: 1px solid #DDD;
}
/* 現在なし
table tr td{
}
*/
table tr th {
    font-weight: bold;
    background-color: #DDD;
}

/* 注意事項の強調 */
.caution {
    color: #DD0;
    background-color: #900;
    padding: 0.3em 0.5em 0.3em 0.8em;
    border-radius: 25px;
}

.caution:before {
    content: '※';
}

/* タイトルロゴのようなもの */
#PCW {
    font-family: cursive;
    color: #FFF;
    background: #000;
    text-align: center;
    padding: 0.0em 0.5em 0.0em 0.6em;
    margin: 0.0em 0.5em 0.0em 0.5em;
    border-radius: 50%;
}

/* 権利表記 */
#copyright {
    font-family: 'arial black';
    text-align: center;
    border-top: solid 3px #DDD;
}