@charset "UTF-8";

/* 出力テーブル幅 固定 */
.stopwatch {
    table-layout: fixed;
}

/* ボタンのレイアウト */
button {
    width: 100%;
}

/* ボタン初期選択 */
#displaySymbol {
    color: white;
    background-color: teal;
}

/* グラフの枠線 */
#canvas {
	border:1px solid gray;
}