@charset "UTF-8";

/* 数値 右寄せ */
.value {
    text-align: right;
}

/* 出力テーブル幅 固定 */
.calculator {
    table-layout: fixed;
}

/* ボタンのレイアウト */
button {
    width: 100%
}

/* 初期状態の数値1の背景色 */
#outputValue1 {
    background-color: #fcc;
}